#topNav {
    background-color: #2e2e2e;
    color: #ffffff;
    font-family: verdana;
    font-size: 2vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 8fr;
    column-gap: 1vw;
    padding-left: 1vw;
}
