body {
    margin: 0;
    padding: 0;
}

#topBarDecoration {
    background-color: #be13a2;
    width: 100%;
    height: 5px;
    position: fixed;
    z-index: 2;
}

#topNav {
    /*position: fixed;*/
    background-color: #1d1d1d;
    color: #ffffff;
    font-family: verdana;
    font-size: 2vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 7fr;
    padding-left: 1vw;
    position: fixed;
    top: 5px;
    width: 100%;
    z-index: 2;
}

#home{
    grid-column: 1 / 2;
    border: #00000000 solid 0.3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: background-color 0.25s ease-in-out;
}
#home:hover {
    border-bottom: #ad459c solid 0.3vh;
    text-decoration: underline;
    background-color: #000000;
    cursor: pointer;
}
#about{
    grid-column: 2 / 3;
    border: #00000000 solid 0.3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: background-color 0.25s ease-in-out;
}
#about:hover {
    border-bottom: #ad459c solid 0.3vh;
    text-decoration: underline;
    background-color: #000000;
    cursor: pointer;
}
#projects{
    grid-column: 3 / 4;
    border: #00000000 solid 0.3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: background-color 0.25s ease-in-out;
}
#projects:hover {
    border-bottom: #ad459c solid 0.3vh;
    text-decoration: underline;
    background-color: #000000;
    cursor: pointer;
}
#blog{
    grid-column: 4 / 5;
    border: #00000000 solid 0.3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: background-color 0.25s ease-in-out;
}
#blog:hover {
    border-bottom: #ad459c solid 0.3vh;
    text-decoration: underline;
    background-color: #000000;
    cursor: pointer;
}
#socials{
    grid-column: 5 / 6;
    border: #00000000 solid 0.3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: background-color 0.25s ease-in-out;
}
#socials:hover {
    border-bottom: #ad459c solid 0.3vh;
    text-decoration: underline;
    background-color: #000000;
    cursor: pointer;
}
#homeContainer {
    position: absolute;
    visibility: visible;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    animation: headerAnimation 30s ease-in-out infinite;
    background-color: #f1eff0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@keyframes headerAnimation {
    0% {
        background-color: #b862ff;
    }
    20% {
        background-color: #ffb272;
    }
    40% {
        background-color: #6567fa;
    }
    60% {
        background-color: #80d1ff;
    }
    80% {
        background-color: #ff83da;
    }
    100% {
        background-color: #b862ff;
    }
}
#homeBody{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr 1fr 1fr;
    height: 20vh;
}
#mainTitle{
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    font-size: 10vh;
    font-family: Courier New, monospace;
    font-weight: 600;
}
#mainSubtitle{
    text-align: center;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 0;
    font-size: 2vh;
    font-family: monospace;
}
#mainIcon{
    grid-column: 2/3;
    grid-row: 2/3;
    animation: mainIconRotate 3s ease-in-out infinite;
    animation-direction: normal;
    border-radius: 50%;
    z-index: 1;
}
@keyframes mainIconRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#mainIconDecoration{
    margin-left: 2vw;
    grid-column: 2/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 2vh;
    width: 250px;
    height: 250px;
    background-color: #be13a2;
    z-index: 0;
    animation-delay: 0.5s;
    border-radius: 100% 30% 80% 70% / 50% 80% 60% 50%;
}

#aboutContainer{
    position: absolute;
    visibility: hidden;
    background-color: #1a1919;
    width: 100vw;
    height: 100vh;
}
#projectsContainer{
    position: absolute;
    visibility: hidden;
    background-color: #1a1919;
    width: 100vw;
    height: 100vh;
}
#blogContainer{
    position: absolute;
    visibility: hidden;
    background-color: #1a1919;
    width: 100vw;
    height: 100vh;
}
#socialsContainer{
    position: absolute;
    visibility: hidden;
    background-color: #1a1919;
    width: 100vw;
    height: 100vh;
}
